extends layout

block content
  script.
    var socket = io.connect('http://localhost:3000');
    socket.on('connect', function(data) {
      socket.emit('join', 'Hello World from client');
    });
    socket.on('messages', function(data) {
                alert(data);
    });
  
  h1= title
  form.form-inline(role='form')
    label.form-label(for'player_name') Player
    input.form-input(type='text', name='player_input', id='player_name')
    label.form-label(for='team_name') Team
    input.form-input(type='text', name='team_input', id='team_name')
    button.btn("Search")  
      
  table.table 
    thread
      tr 
        th TweetID 
        th User
        th Date
        th Text
        th Favorites
        th Retweets
    tbody
      each tweet in tweets
        tr 
          td= tweet[0]
          td= tweet[1]
          td= tweet[2]
          td= tweet[3]
          td= tweet[4]
          td= tweet[5]

            
