extends layout


block content
  link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
  script.
    var socket = io.connect('http://localhost:3000');
    socket.on('connect', function(data) {
      socket.emit('join', 'Hello World from client');
    });
    socket.on('messages', function(data) {
                alert(data);
    });
    
  
  
  body
    h1= title
    .container
      .row
        .col-md-8
            form.form-inline(role='form', action='/', method='POST')
              label.form-label(for'player_name') Player
              input.form-input(type='text', name='player_input', id='player_name')
              label.form-label(for='team_name') Team
              input.form-input(type='text', name='team_input', id='team_name')
              button.btn.btn-success(type='submit') Search 
          .col-md-2
              form.radio-inline
                label.radio-inline 
                  input(type='radio', name='optradio', value='query_all') 
                  Query Online
                label.radio-inline 
                  input(type='radio', name='optradio', value='query_db') 
                  Query Database Only
    
    div(style='width:400px; height:400px;')
      canvas#chartCanvas(width='100px', height='100px')
      script.
        var ctx = document.getElementById('chartCanvas').getContext('2d');
        ctx.canvas.width = 100;
        ctx.canvas.height = 100;
        var myChart = new Chart(ctx, {
          type: 'line',
          data: {
            labels: ['M', 'T', 'W', 'T', 'F', 'S', 'S'],
            datasets: [{
              label: 'apples',
              data: [12, 19, 3, 17, 6, 3, 7],
              backgroundColor: "rgba(153,255,51,0.4)"
            }, {
              label: 'oranges',
              data: [2, 29, 5, 5, 2, 3, 10],
              backgroundColor: "rgba(255,153,0,0.4)"
            }]
          }
        });

    table.table 
      thread
        tr 
          th TweetID 
          th User
          th Date
          th Text
          th Favorites
          th Retweets
      tbody
        each tweet in tweets
          tr 
            td= tweet[0]
            td= tweet[1]
            td= tweet[2]
            td= tweet[3]
            td= tweet[4]
            td= tweet[5]

              
