extends layout


block content
  
  script.
    $(document).ready(function() {
      var socket = io.connect('http://localhost:3000')
      
      socket.on('search tweets', function(data) {
      var html = ''
      for (var i = 0; i < data.length; i++) {
        tweet = data[i]
        html += 'tr \n' +
                'td \n a(href="http://twitter.com/"' + tweet.user + ')= ' + tweet.user + '\n' +
                'td= ' + tweet.text + '\n'
                'td= ' + tweet.date + '\n'
                'td= ' + tweet.time + '\n'
                'td \n a(href="http://twitter.com/statuses/"' + tweet.tweet_id + ') Link \n'  
      }
      $('tweet-table').html(html)
      })
    });
    
  
  
  body
    h1= title
    .container
      form.form-inline(role='form', action='/', method='POST')
        label.form-label(for'player_name') Player
        input.form-input(type='text', name='player_input', id='player_name')
        label.form-label(for='team_name') Team
        input.form-input(type='text', name='team_input', id='team_name')
        label.form-label(for="user_name") User
        input.form-input(type='text', name='user_input', id='user_name')
        button.btn.btn-success(type='submit') Search 

        .radio-form
          form.radio-inline
            label.radio-inline 
              input(type='radio', name='querySelector', value='query_all', checked=true) 
              Query API Only
            label.radio-inline 
              input(type='radio', name='querySelector', value='query_db') 
              Query Database Only
    

    table.table 
      thread
        tr 
          th User
          th Text
          th Date
          th Time
          th Link
      tbody(id="tweet-table")
        if tweets.length > 0 
          each tweet in tweets
            tr 
              td
                a(href="http://twitter.com/"+tweet.user)= tweet.user
              td= tweet.text
              td= tweet.date
              td= tweet.time
              td
                a(href="http://twitter.com/statuses/" + tweet.tweet_id) Link
        else 
          tr
            td(colspan="5", height="70", style="text-align:center;vertical-align:middle")=message
        
          


    div(style='width:400px; height:400px;')
      canvas#chartCanvas(width='100px', height='100px')
      script.
        var ctx = document.getElementById('chartCanvas').getContext('2d');
        ctx.canvas.width = 100;
        ctx.canvas.height = 100;
        
        var myChart = new Chart(ctx, {
          type: 'line',
          data: {
            labels: !{labels},
            datasets: [{
              label: 'No. of tweets',
              data: [!{chartData1}],
              backgroundColor: "rgba(153,255,51,0.4)"
            }]
          },
          options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          }
          }
        });
